<ion-header>

  <ion-navbar color="nav">
    <ion-title>My Cart</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:#eee;">

  <ion-card>
    <ion-list>
      <ion-list-header>
        My Order
      </ion-list-header>
      <ion-item *ngFor="let item of items">
        <ion-thumbnail item-start>
          <img src="{{getImage(item['product'])}}">
        </ion-thumbnail>
        <h2>{{item['product'].name}}</h2>
        <p>{{item['product'].price}} dMT - Quantity: {{item.quantity}} </p>
        <button ion-button clear item-end (click)="deleteAtIndex(i,item)">Edit</button>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        Shipping Details
      </ion-list-header>

      <ion-item>
        <ion-label>Select Shipping Address</ion-label>
        <ion-select [(ngModel)]="address" multiple="false">
          <ion-option *ngFor="let item of addresses">{{item.address}} {{item.apt}} {{item.city}} {{item.state}} {{item.zip}}</ion-option>
        </ion-select>
      </ion-item>



    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        Payment
      </ion-list-header>

      <!--<ion-list-header>
        Available: {{web3Provider.dDT}}
      </ion-list-header>
      <ion-list-header>
        Total: {{total}}
      </ion-list-header>
      <ion-list-header>
        Remaining: {{web3Provider.dDT - total}}
      </ion-list-header>-->
    <div padding>
      <button ion-button color="nav" full (click)="order()">Order</button>
    </div>
    </ion-list>
  </ion-card>

  <!--<ion-card>
    <ion-list>
      <ion-list-header>
        Shipping Details
      </ion-list-header>
      <ion-item>
        <ion-label color="nav" stacked>Full Name</ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item style="padding-left:6px;">
              <ion-label color="nav" stacked>Address</ion-label>
              <ion-input type="text" placeholder=""></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="nav" stacked>Apt. Unit (Optional)</ion-label>
              <ion-input type="text" placeholder=""></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item style="padding-left:6px;">
              <ion-label color="nav" stacked>City</ion-label>
              <ion-input type="text" placeholder=""></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="nav" stacked>State</ion-label>
              <ion-input type="text" placeholder=""></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="nav" stacked>Zip</ion-label>
              <ion-input type="text" placeholder=""></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card>-->

</ion-content>
