<ion-header>
  <ion-navbar color="nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>dMarket</ion-title>
   <ion-buttons end>
     <button ion-button icon-only (click)="transactions()">
       <ion-icon name="list"></ion-icon>
     </button>
     <button ion-button icon-only (click)="cart()">
       {{ cartProvider['mycart'].length }} <ion-icon name="cart"></ion-icon>
     </button>
          </ion-buttons>
  </ion-navbar>

<!-- <ion-toolbar no-border-top color="nav">
   <ion-searchbar [(ngModel)]="search" placeholder="Search" (search)="searchByKeyword($event)" [showCancelButton]="true" (ionCancel)="onCancel($event)"></ion-searchbar>
</ion-toolbar> -->

</ion-header>


<ion-content style="background-color:#eee;">

  <div *ngIf="isuport">
    <ngx-qrcode [qrc-value]="qr"></ngx-qrcode>
  </div>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="details(item)">
      <ion-thumbnail item-start>
        <img src="{{getImage(item)}}">
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <p>{{item.price}} dMT</p>
      <!--<button ion-button clear item-end>View</button>-->
    </button>
  </ion-list>

  <button ion-button color="dark" (click)="test()">Test</button>

<!--
  <button ion-button color="dark" (click)="transHistory()">TXS_HISTORY</button>
  <button ion-button color="dark" (click)="add()">Add</button>
  <br><br>
  <input id="file-field" name="file-field" (change)="uploadFile($event)" type="file" multiple>
  <br><br>
  <ion-item>
    <ion-label color="nav" stacked>Product Name</ion-label>
    <ion-input type="text" [(ngModel)]="product.name" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="nav" stacked>Description</ion-label>
    <ion-input type="text" [(ngModel)]="product.description" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="nav" stacked>Price</ion-label>
    <ion-input type="text" [(ngModel)]="product.price" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="nav" stacked>Owner</ion-label>
    <ion-input type="text" [(ngModel)]="product.owner" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="nav" stacked>ProductID</ion-label>
    <ion-input type="text" [(ngModel)]="product.productID" placeholder=""></ion-input>
  </ion-item>
  <br><br>
  <button ion-button color="dark" (click)="list()">List</button>
-->
</ion-content>
